body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

a {
  font-family: "Poppins", sans-serif;
  border: none;
  color: #ffff;
}

.redirecionamento {
  margin-right: 250px;
  display: flex;
  justify-content: space-around;
  width: 25%;
  padding-left: 2%;
}

.navbar {
  margin-left: -1%;
  background-color: #0050a3;
  display: flex;
  align-items: center;
}

.Logo {
  height: 75px;
  padding-left: 2%;
  margin: 5px;
}

#usr {
  background: url("img/iconePesquisa.png") no-repeat left / 1.8em;
  padding-left: 3em;
  border-radius: 8px;
  width: 13%;
  background-color: whitesmoke;
  border: none;
  height: 20px;
  margin-left: 25%;
}

input::placeholder {
  color: #0050a3;
}

.icones {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

#dashboard {
  border: none;
  background: url("img/iconePerfil.png") no-repeat left / 2.2em;
  height: 80px;
  width: 80px;
  margin-left: -5px;
  cursor: pointer;
}

#carrinho {
  border: none;
  background: url("img/carrinho.png") no-repeat left / 2.2em;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

#favoritos {
  border: none;
  background: url("img/favoritos.png") no-repeat left / 2.2em;
  height: 80px;
  width: 80px;
  margin-left: -5px;
  cursor: pointer;
}

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
}

.slide-box video {
  width: 100%;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
  border: 1px solid #0050a3;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #0050a3;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio1:checked ~ .nav-auto .auto-btn2 {
  background-color: #0050a3;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: 25%;
}

.item01,
.item02,
.item03 {
  border: 5px solid yellow;
  display: flex;
  width: 10%;
  height: 10%;
}

.item01,
.item02,
.item03, 
 img{
  width: 50%;
  height: 1+50%;
 }