html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body > * {
  max-width: 100%; /* faz com que elementos não ultrapassem a largura da tela */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

a {
  font-family: "Poppins", sans-serif;
  border: none;
  color: #ffff;
  text-decoration: none;
}

p, figcaption{
  font-family: "Poppins", sans-serif;
}

h1{
  font-family: "Lora", serif;
  font-size: 350%;
  margin-left: 20px;
  margin: 5%;
}

/* NAVBAR */
.redirecionamento {
  margin-right: 250px;
  display: flex;
  justify-content: space-around;
  width: 25%;
  padding-left: 2%;
  gap: 5%;
  color: white;
}

.navbar {
  background-color: #0050a3;
  display: flex;
  align-items: center;
}

.Logo {
  height: 75px;
  padding-left: 2%;
  margin: 5px;
}

#usr {
  background: url("img/iconePesquisa.png") no-repeat left / 1.8em;
  padding-left: 35px;
  border-radius: 8px;
  height: 25px;
  width: 250px;
  background-color: whitesmoke;
  border: none;
}

.Pesquise{
  margin-left: 25%;

}

input::placeholder {
  color: #0050a3;
}

.icones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  gap: 30px;
}

#dashboard {
  border: none;
  background: url("img/iconePerfil.png") no-repeat left / 2.5em;
  height: 85px;
  width: 85px;
  cursor: pointer;
}

#carrinho {
  border: none;
  background: url("img/carrinho.png") no-repeat left / 2.5em;
  height: 85px;
  width: 85px;
  cursor: pointer;
}

#favoritos {
  border: none;
  background: url("img/favoritos.png") no-repeat left / 2.5em;
  height: 85px;
  width: 85px;
  cursor: pointer;
}

/* RODAPÉ */
.rodapeAzul {
  height: 400px;
  background-color: #0050A3;
  width: 99.9%;
  border: 1px solid #0050A3;
    h1 {
    font-size: 200%;
    color: white;
    margin: 5% 0;
  }  
}

.bgAzul {
  margin: 5%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5%;
  flex-wrap: wrap;
}

.redesSociais, .tituloA, .formasPagamento, .conheca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: white;
}

.formasPagamento {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagamento {
  width: 30%;
  height: 30%;
  object-fit: contain;
  margin: 5%;
}

.logoRodape{
  display: block;
  align-items: center;
  justify-self: center;
  height: 30%;
  width: 10%;
  border-radius: 90%;
  border: 2px solid #fff;
}

.imgRodape{
  display: block;
  margin-top: -8%
}

/* MODAL DO CARRINHO */
.modal-carrinho {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo */
}

.modal-conteudo {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.fechar:hover,
.fechar:focus {
  color: black;
}

/* FOTO DE PERFIL */
.User {
  display: flex;
  align-items: center;
  padding: 2%;
  width: 100%;
}

.fotoPerfil img {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  margin: 2% 2% 2% 22%;
}


/* BOAS VINDAS */
.boasVindas{
  flex-direction: column;
  text-align: left;
  width: 30%;
  height: 20%;
  h1{
      margin: 0;
  }
}

/* BOTÕES */
.botoesDados{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 2%;
  gap: 15%;
}

.btnAmarelo{
  align-items: center;
  background-color: #FFE9A7;
  border: 2px solid #F2C029;
  font-family: "Poppins", sans-serif;
  transition: transform 0.5s ease;
  font-size: 20px;
  cursor: pointer;
  width: 250px;
  height: 85px;
}

.btnAmarelo:hover{
  transform: translateY(-5px);
  transition: transform 0.5s ease out;
}

/* ÚLTIMOS PEDIDOS */
.ultimosPedidos{
  background-color: #FFE9A7;
  border: 2px solid #F2C029;
  margin: 2%;
  padding: 1%;
}

.pedidos{
  padding: 1%;
}
