*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-semibold{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lora{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;

    button{
     background: #0050A3;
     color: #FFE9A7;
     border: 2px solid white;
    }
}

input, button{
    font-family: "Poppins", sans-serif;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 300px;
}

input{
    background-color: #FFF6D3;
    border: 1px solid #0050A3;
    border-radius: 10px;
}

input::placeholder{
    color: #0050A3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h2{
    font-size: 50px;
    font-family: "Lora", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 30px;
    text-align: center;
}

p{
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
    width: 400px;
    text-align: center;
}

button{
    margin-top: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
}

button:hover{
    transform:translateY(-2px);
}

.tudo{
    width: 100%; 
    height: 100vh; 
    background-color: rgba(0, 120, 212, 0.279);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.card{
    width: 100%;
    height: 100vh; 
    background-color: #FFE9A7;
    padding: 30px 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    overflow: hidden;
}

.esquerda, .direita{
    width: 50%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    z-index: 1;
}

.formLogin, .facaLogin, .formCadastro, .facaCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facaLogin, .facaCadastro{
    position: absolute;
    h2,p{
     color: #FFE9A7;
    }
    button{
     background: #FFE9A7;
     border: 2px solid white;
     color: #0050A3;
    }
}

.formCadastro, .formLogin{
    color: #0050A3;
}

/*BACKGROUND MOVEL*/
.card::after{
    height: 100%;
    width: 100%;
    content: "";
    background: #0050A3;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
    z-index: 0;
}

/* LOGIN ACTIVE */
.card.loginActive .facaLogin{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive .formCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive::after{
    transform:translateX(50%) ;
}

.card.loginActive .facaCadastro{
    transform: translateX(0);
    transition: all .3s .3s;
    opacity: 1;
}

.card.loginActive .formLogin{
    transition: all .3s;
    opacity: 1;
}

/* CADASTRO ACTIVE */
.card.cadastroActive .facaCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive .formLogin{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive::after{
    transform:translateX(-50%) ;
}

.card.cadastroActive .facaLogin{
    transform: translateX(0);
    transition: all .3s .3s;
    opacity: 1;
}

.card.cadastroActive .formCadastro{
    transition: all .3s;
    opacity: 1;
}

/*TRANSIÇÕES*/

.card::after{
    transition: all .5s;
}

.facaCadastro{
    transition: all .3s 0;
    transform: translateX(200%);
    opacity: 0;
}

.formLogin{
    transition: all .3s 0;
    opacity: 0;
}

.facaLogin{
    transition: all .3s 0;
    transform: translateX(-200%);
    opacity: 0;
}

.formCadastro{
    transition: all .3s 0;
    opacity: 0;
}